/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/captcha.scss ***!
  \*******************************************************************************************************************/
#tic-parent {
  box-shadow: 0 0 11px 0 #999999;
  width: 318px;
  height: 318px;
  overflow: hidden;
  position: relative;
  z-index: 997;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px;
}
#tic-parent #tic-box {
  height: 260px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#tic-parent #tic-box .loading {
  width: 50px;
  height: 50px;
  text-align: center;
  display: block;
  z-index: 998;
  position: absolute;
  top: 105px;
  left: 126px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: url(../images/loading.gif);
  background-size: cover;
}
#tic-parent #tic-box #tic {
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.36, 0.3, 0.42, 1.5);
  transform: translateX(-300px);
}
#tic-parent #tic-bg-img {
  background-color: #fff;
  background-position: top;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 6px;
}
#tic-parent .slider-bottom {
  height: 19px;
  width: 100%;
}
#tic-parent .slider-bottom .close-btn {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: 0 -14px;
  float: right;
  margin-right: 2px;
  cursor: pointer;
}
#tic-parent .slider-bottom .refresh-btn {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon.png);
  background-position: 0 -167px;
  background-repeat: no-repeat;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
#tic-parent .slider-bottom .logo {
  height: 30px;
  float: left;
}
#tic-parent .slider-move-shadow {
  animation: myanimation 2s infinite;
  height: 100%;
  width: 5px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(0.5);
  box-shadow: 1px 1px 1px #fff;
  border-radius: 50%;
}
#tic-parent #tic-slider-move-track-mask {
  border-width: 1px;
  border-style: solid;
  border-color: #00f4ab;
  width: 0;
  height: 32px;
  background-color: #a9ffe5;
  opacity: 0.5;
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 5px;
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/common/common.scss ***!
  \*************************************************************************************************************************/
#tic {
  text-align: left;
  box-sizing: content-box;
  width: 300px;
  height: 260px;
  z-index: 999;
}
#tic .slider-bottom .logo {
  height: 30px;
}
#tic .slider-bottom {
  height: 19px;
  width: 100%;
}
#tic .content .tic-tips {
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 999;
  font-size: 15px;
  line-height: 25px;
  /*background-color: #FF5D39;*/
  color: #fff;
  text-align: center;
  /* transform: translateY(0px); */
  /* display: none; */
  /* transition: max-height 0.5s; */
  transition: bottom 0.3s ease-in-out;
}
#tic .content .tic-tips.tic-tips-error {
  background-color: #FF5D39;
}
#tic .content .tic-tips.tic-tips-success {
  background-color: #39C522;
}
#tic .content .tic-tips.tic-tips-on {
  bottom: 0;
}
#tic .content #tic-loading {
  z-index: 9999;
  background-color: #f5f5f5;
  text-align: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tic .content #tic-loading img {
  display: block;
  width: 45px;
  height: 45px;
}
#tic #tic-slider-bg-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@keyframes myanimation {
  from {
    left: 0;
  }
  to {
    left: 289px;
  }
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/slider/slider.scss ***!
  \*************************************************************************************************************************/
#tic.tic-slider {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
}
#tic.tic-slider .content {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
}
#tic.tic-slider .bg-img-div {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(0px, 0px);
}
#tic.tic-slider .bg-img-div img {
  height: 100%;
  border-radius: 5px;
}
#tic.tic-slider .slider-img-div {
  height: 100%;
  position: absolute;
  transform: translate(0px, 0px);
}
#tic.tic-slider .slider-img-div #tic-slider-move-img {
  height: 100%;
}
#tic.tic-slider .slider-move {
  height: 34px;
  width: 100%;
  margin: 11px 0;
  position: relative;
}
#tic.tic-slider .slider-move-track {
  position: relative;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #f5f5f5;
  color: #999;
  transition: 0s;
  font-size: 14px;
  box-sizing: content-box;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
}
#tic.tic-slider .refresh-btn, #tic.tic-slider .close-btn {
  display: inline-block;
}
#tic.tic-slider .slider-move {
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  color: #88949d;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  filter: opacity(0.8);
}
#tic.tic-slider .slider-move .slider-move-btn {
  transform: translate(0px, 0px);
  position: absolute;
  top: -6px;
  left: 0;
  width: 63px;
  height: 45px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}
#tic.tic-slider .slider-tip {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
  color: black;
}
#tic.tic-slider .slider-move-btn:hover {
  cursor: pointer;
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/rotate/rotate.scss ***!
  \*************************************************************************************************************************/
#tic.tic-rotate .rotate-img-div {
  height: 100%;
  /*position: absolute;*/
  text-align: center;
}
#tic.tic-rotate .rotate-img-div img {
  height: 100%;
  transform: rotate(0deg);
  display: inline-block;
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/concat/concat.scss ***!
  \*************************************************************************************************************************/
#tic.tic-concat .tic-slider-concat-img-div {
  background-size: 100% 180px;
  position: absolute;
  transform: translate(0px, 0px);
  /* border-bottom: 1px solid blue; */
  z-index: 1;
  width: 100%;
}
#tic.tic-concat .tic-slider-concat-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(0px, 0px);
  background-size: 100% 180px;
}
/*!***********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/image_click/image_click.scss ***!
  \***********************************************************************************************************************************/
#tic.tic-word-click {
  position: relative;
  box-sizing: border-box;
}
#tic.tic-word-click .click-tip {
  position: relative;
  height: 40px;
  width: 100%;
}
#tic.tic-word-click .click-tip .tip-img {
  width: 130px;
  position: absolute;
  right: 15px;
}
#tic.tic-word-click .click-tip #tic-click-track-font {
  font-size: 18px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: absolute;
}
#tic.tic-word-click .slider-bottom {
  position: relative;
  top: 6px;
}
#tic.tic-word-click .content #bg-img-click-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#tic.tic-word-click .content #bg-img-click-mask .click-span {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
  background-color: #409eff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  border: 2px solid #fff;
}
/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/rotate_degree/rotate_degree.scss ***!
  \***************************************************************************************************************************************/
#tic.tic-rotate2 {
  position: relative;
  user-select: none;
}
#tic.tic-rotate2 #tic-bg-img {
  background-color: #fff;
  background-position: top;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 6px;
}
#tic.tic-rotate2 .content {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
}
#tic.tic-rotate2 .content .mask {
  height: 180px;
  width: 180px;
  position: absolute;
  border: 2px solid #fff;
  z-index: 99;
  left: 60px;
  border-radius: 50%;
  box-sizing: border-box;
}
#tic.tic-rotate2 .bg-img-div {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(0px, 0px);
  text-align: center;
}
#tic.tic-rotate2 .bg-img-div img {
  height: 100%;
  border-radius: 50%;
}
#tic.tic-rotate2 .slider-img-div {
  height: 100%;
  position: absolute;
  transform: translate(0px, 0px);
}
#tic.tic-rotate2 .slider-img-div img {
  height: 100%;
}
#tic.tic-rotate2 .slider-move {
  height: 60px;
  width: 100%;
  margin: 11px 0;
  position: relative;
}
#tic.tic-rotate2 .slider-move .slider-move-track {
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  color: #88949d;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  filter: opacity(0.8);
}
#tic.tic-rotate2 .slider-move .slider-move-btn {
  transform: translate(0px, 0px);
  position: absolute;
  top: -6px;
  left: 0;
  width: 63px;
  height: 45px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}
#tic.tic-rotate2 .slider-bottom {
  height: 19px;
  width: 100%;
}
#tic.tic-rotate2 .slider-bottom .close-btn {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: 0 -14px;
  float: right;
  margin-right: 2px;
}
#tic.tic-rotate2 .slider-bottom .refresh-btn {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon.png);
  background-position: 0 -167px;
  background-repeat: no-repeat;
  float: right;
  margin-right: 10px;
}
#tic.tic-rotate2 .slider-move-track {
  position: relative;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #f5f5f5;
  color: #999;
  transition: 0s;
  font-size: 14px;
  box-sizing: content-box;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
}
#tic.tic-rotate2 .refresh-btn, #tic.tic-rotate2 .close-btn {
  display: inline-block;
}
#tic.tic-rotate2 .slider-tip {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}
#tic.tic-rotate2 .slider-move-btn:hover, #tic.tic-rotate2 .tic-rotate2 .close-btn:hover, #tic.tic-rotate2 .tic-rotate2 .refresh-btn:hover {
  cursor: pointer;
}
#tic.tic-rotate2 #tic-slider-move-track-mask {
  border-width: 1px;
  border-style: solid;
  width: 0;
  height: 32px;
  background-color: #f7b645;
  opacity: 0.5;
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 5px;
  border-color: #ef9c0d;
}
#tic.tic-rotate2 .rotate-img-div {
  height: 100%;
  position: absolute;
  transform: rotate(0deg);
  margin-left: 58px;
}
#tic.tic-rotate2 .rotate-img-div img {
  height: 100%;
}
#tic.tic-rotate2 .tic-slider-bg-img-mask {
  position: absolute;
  left: 60px;
  top: 0;
  background-image: url(../images/axis.png);
  width: 180px;
  height: 180px;
  float: left;
  background-size: 100%;
  filter: opacity(0.9);
  display: none;
}
#tic.tic-rotate2 #tic-slider-bg-degree-canvas {
  position: absolute;
  top: 0;
  width: 180px;
  height: 180px;
  left: 60px;
  border-radius: 50%;
  transform: rotate(0deg);
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/scrape/scrape.scss ***!
  \*************************************************************************************************************************/
#tic.tic-scrape #tic-scrape-tip-img {
  display: inline-block;
  height: 20px;
}
#tic.tic-scrape #tic-slider-move-track-font {
  color: #808080;
}
#tic.tic-scrape .slider-img-div {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #D8D8D8;
  transform: translate(0px, 0px);
  border-radius: 0 5px 5px 0;
  box-sizing: border-box;
  top: 0;
  /*border-left: 2px solid red;*/
  box-shadow: -6 px 0px 9px 0px #ffffff;
}
/*!***************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/disable/disable.scss ***!
  \***************************************************************************************************************************/
#tic.tic-disable {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
}
#tic.tic-disable .content {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
}
#tic.tic-disable .content .bg-img-div {
  background-image: url(../images/dun.jpeg);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#tic.tic-disable .content .bg-img-div #content-span {
  color: #fff;
  overflow: hidden;
  margin-top: 132px;
  display: block;
  text-align: center;
}
/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/captcha/curve/curve.scss ***!
  \***********************************************************************************************************************/
#tic.tic-slider {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
}
#tic.tic-slider .content {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
}
#tic.tic-slider .bg-img-div {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(0px, 0px);
}
#tic.tic-slider .bg-img-div img {
  height: 100%;
  border-radius: 5px;
}
#tic.tic-slider .slider-img-div {
  height: 100%;
  position: absolute;
  transform: translate(0px, 0px);
}
#tic.tic-slider .slider-img-div #tic-slider-move-img {
  height: 100%;
}
#tic.tic-slider .slider-move {
  height: 34px;
  width: 100%;
  margin: 11px 0;
  position: relative;
}
#tic.tic-slider .slider-move-track {
  position: relative;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #f5f5f5;
  color: #999;
  transition: 0s;
  font-size: 14px;
  box-sizing: content-box;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
}
#tic.tic-slider .refresh-btn, #tic.tic-slider .close-btn {
  display: inline-block;
}
#tic.tic-slider .slider-move {
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  color: #88949d;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  filter: opacity(0.8);
}
#tic.tic-slider .slider-move .slider-move-btn {
  transform: translate(0px, 0px);
  position: absolute;
  top: -6px;
  left: 0;
  width: 63px;
  height: 45px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}
#tic.tic-slider .slider-tip {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
  color: black;
}
#tic.tic-slider .slider-move-btn:hover {
  cursor: pointer;
}
#tic.tic-slider #tic-curve-bg-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#tic.tic-slider .tic-curve-ball-div {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(73, 72, 72, 0.4705882353);
  display: none;
}
